:root {
    --backgound-color: #E4E4E4;
    --primary-color: #261F47;
    --secondary-color: #514983;

    --pending-status: #fdf8ab;
    --pending-status-title: #423c00;

    --inProgress-status: #91d5fc;
    --inProgress-status-title: #012941;

    --completed-status: #aafa9f;
    --completed-status-title: #0b3a04;
}

body {
    margin: 0rem;
}