:root {
    --backgound-color: #E4E4E4;
    --primary-color: #261F47;
    --secondary-color: #514983;

    --pending-status: #fff56b;
    --pending-status-hover: #f7e96dd2;
    --inProgress-status: #6FCAFF;
    --inProgress-status-hover: #6fcaffd2;
    --completed-status: #8FFFA1;
    --completed-status-hover: #8fffa2d2;
    --text-card-color: #33227e;
}

body {
    margin: 0rem;
}